@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.item {
    border: 1px solid rgb(0, 0, 0);
    width: 10px;
    height: 10px;
}

rect {
    stroke: rgb(0, 0, 0);
    fill: rgb(252, 252, 252);
}

.click-me {
    position: absolute;
    right: 10px;
    top: 10px;
}

#panel {
    position: absolute;
    top: 20px;
    right: 20px;
    background: rgba(189, 181, 181, 0.6);
    width: 300px;
    max-height: 500px;
    padding: 0.5em;
    justify-content: space-between;
}


.container {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 0.2em 0.8em;

}

.container-btn {
    margin-top: 1em;
}


.radio-element {
    display: flex;
    margin-top: 0.5em;
}